#app
  font-family: Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: #2c3e50
  background: url("./img/labs_clear.png")
  background-size: contain
  background-repeat: no-repeat
  background-position: bottom left
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh

  & > div
    padding: 0 3em
    max-width: 900px
    margin: 0 auto

img
  max-width: 100%
  margin: 2em auto
  display: block

#logo
  position: absolute
  width: 200px
  bottom: 1em
  left: 0
  right: 0
  z-index: -1

button
  color: #fff
  margin: 2em 0
  background-color: #5cb85c
  display: inline-block
  padding: 6px 12px
  margin-bottom: 0
  font-size: 14px
  font-weight: 400
  line-height: 1.42857143
  text-align: center
  white-space: nowrap
  vertical-align: middle
  -ms-touch-action: manipulation
  touch-action: manipulation
  cursor: pointer
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  background-image: none
  border: 1px solid #4cae4c
  border-radius: 4px

  &:hover
    color: #fff
    background-color: #449d44
    border-color: #398439
    text-decoration: none

form
  text-align: center

input
  display: block
  width: 12rem
  padding: .375rem .75rem
  font-size: 1rem
  line-height: 1.5
  color: #495057
  background-color: #fff
  background-clip: padding-box
  border: 1px solid #ced4da
  border-radius: .25rem
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
  margin: .5rem auto